<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.login.connection.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>com.login.connection.DepositServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransferServlet</servlet-name>
        <servlet-class>com.login.connection.TransferServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WithdrawServlet</servlet-name>
        <servlet-class>com.login.connection.WithdrawServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransferServlet</servlet-name>
        <url-pattern>/transfer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WithdrawServlet</servlet-name>
        <url-pattern>/withdraw</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
